{% extends 'main/base.html' %}
{% block title %}Добро пожаловать{% endblock %}

{% block style %}<link href="static/css/index.css" rel="stylesheet" type="text/css">{% endblock %}
{% block content %}
<div class="banner">
  <div class="banner-text">

  </div>
</div>

<div class="firstBt">
	<h1>Все форматы занятий от лучших педагогов!</h1>
<p>Занятия для детей и взрослых любого уровня подготовки.</p>
<div class="buttons">
	<div><a href="#">Занятия для взрослых</a></div>
	<div class="lm_col"><a href="#">Занятия для детей</a></div>
</div>
</div>

<h2 class="cards_titel">ЗАНЯТИЯ ДЛЯ ВЗРОСЛЫХ</h2>
<div class="cards">

<div class="card">
		<div class="img1">
			 <img src="static/img/card1.png" alt="Занятия для взрослых">
		</div>
		<div class="content">
			<div class="titels">РАЗОВОЕ ЗАНЯТИЕ</div>
			<div class="text">Занятие по открытому расписанию в центре</div>
	</div>
<div class="bt_cards"><a href="#">КУПИТЬ</a></div>
</div>

<div class="card">
		<div class="img1">
			  <img src="static/img/card2.png" alt="Безлимитные абонементы">
		</div>
		<div class="content">
			<div class="titels">БЕЗЛИМИТНЫЕ АБОНЕМЕНТЫ</div>
			<div class="text">Ходи по расписанию центра без ограничений. Выбирай удобный и подходящий тебе абонемент</div>
	</div>
<div class="bt_cards"><a href="#">ВЫБРАТЬ</a></div>
</div>

<div class="card">
		<div class="img1">
			 <img src="static/img/card3.png" alt="ИНДИВИДУАЛЬНЫЕ ЗАНЯТИЯ">
		</div>
		<div class="content">
			<div class="titels">ИНДИВИДУАЛЬНЫЕ ЗАНЯТИЯ</div>
			<div class="text">Занятия по фитнесу и танцам. Выбирай педагога.</div>
	</div>
<div class="bt_cards"><a href="#">ЗАПИСАТЬСЯ</a></div>
</div>
</div>

<div class="secbt">
<div class="sec_tit"><span>Электронный</span> подарочный сертификат</div>
<div class="btn"><a>Оформить</a></div>
</div>

<div class="styles">
<h1>ВЫБЕРИ СВОЙ СТИЛЬ</h1>
<div class="cards1">
<div class="card1">HIP-HOP</div>
<div class="card2">VOGUE</div>
<div class="card3">HOUSE</div>
<div class="card1">CONTEMP</div>
<div class="card3">POPPING</div>
<div class="card1">WAACKING</div>
<div class="card2">DANCEHALL</div>
<div class="card3">JAZZ-FUNK</div>
</div>
</div>

{% endblock %}
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <title>Студия танцев</title>
	<link href="static/index.css" rel="stylesheet" type="text/css">


</head>

