{% extends 'Manager/baseManager.html' %}
{% block title %}Добавить учетную запись{% endblock %}
{%block content%}
 <form  method="post" class="form-group  " style="margin-left:2%; ">
     <h1 style="color:#2e2e2e">Добавление нового пользователя</h1><br>
         {% csrf_token %}



     {% for field in form %}
                        <label >{{ field.label }}</label><div ><span>{{error}}</span></label>{{field}}</div><br>
              {% endfor %}
              <button class="btn btn-success" type="submit">Добавить танцора</button>



    </form>

{% endblock %}
