{% extends 'Manager/baseManager.html' %}
 {% block search %}
    <form class="form-inline my-2 my-lg-0"  method="GET" action="{% url 'students_list' %}">
      <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search" name="q">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit" name="searchButton">Поиск</button>
    </form>{% endblock %}

{% block title %}Студенты{% endblock %}

{%block content%}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Имя</th>
      <th scope="col">Отчество</th>
      <th scope="col">Номер телефона</th>
    </tr>
  </thead>
  <tbody>
  {% for person in user %}

  <tr>
    <th scope="row">{{ forloop.counter }}</th>

      <td>{{person.surname}}</td>
      <td>{{person.name}} </td>
      <td>{{person.middle_name}}</td>
      <td>{{person.number}}</td>
       <td><a href="{% url 'student_detail' person.id %}"  role="button" type="submit" class="btn btn-info">Перейти в профиль</a></td>
  </tr>

  {% endfor %}
  </tbody>
</table>




<form class="form-inline" style="margin:2% 0;">
<a href="{%url 'add_student'%}" role="button" class="btn btn-info " style="margin:0 2%"><li style="list-style:none;">Добавить танцора</li></a>
<a href="{%url 'add_user'%}" role="button" class="btn btn-info" style="margin:0 2%"><li style="list-style:none;">Добавить аккаунт</li></a>
</form>



{% endblock %}