{% extends 'Manager/baseManager.html' %}
 {% block search %}
    <form class="form-inline my-2 my-lg-0"  method="GET" action="{% url 'students_list' %}">
      <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search" name="q">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="searchButton">Поиск</button>
    </form>{% endblock %}
{%block content%}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Студент</th>
      <th scope="col">Группа</th>
      <th scope="col">Цена</th>
      <th scope="col">Количество занятий</th>
    </tr>
  </thead>
  <tbody>
  {% for i in sub %}

  <tr>
    <th scope="row">{{ forloop.counter }}</th>

      <td>{{i.student_id}}</td>
      <td>{{i.group_id}} </td>
      <td>{{i.price}}</td>
      <td>{{i.number_of_lessons}}</td>

  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}