{% extends 'Manager/baseManager.html' %}
{% block title %}Журнал{% endblock %}

{%block content%}
<div class="buttonSortA" style="margin-top:18px;display:inline-block;">


			<form id="coCh-form" action="{% url 'visits_list' %}" method="POST" style="font-size:20px;margin:10px;">
       		{% csrf_token %}
                <div style="display:flex;">
                            <p style="margin:10px;">
								<input type="radio" name="Sort" id="r1" value="sub" checked>
								<label for="r1" style="display:inline-block">Присутствие</label>
							</p>

                <button style="" class="btn btn-info " type="submit" name="sortButton">Поиск</button>
                </div>
			</form>

		</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Танцор</th>
      <th scope="col">Абонемент</th>
      <th scope="col">Занятие</th>
      <th scope="col">Присутствие</th>
    </tr>
  </thead>
  <tbody>
  {% for i in ob %}

  <tr>
    <th scope="row">{{ forloop.counter }}</th>

      <td>{{i.student_id}}<span>{{error}}</span></td>
      <td>{{i.subscription_id}}<span>{{error}}</span> </td>
      <td>{{i.schedule_id}}<span>{{error}}</span></td>
      <td>{{i.presence}}<span>{{error}}</span></td>

  </tr>
  {% endfor %}
  </tbody>
</table>
<form class="form-inline" style="margin:2% 0;">
<a href="{%url 'add_student'%}" role="button" class="btn btn-info " style="margin:0 2%"><li style="list-style:none;">Добавить посещение</li></a>
</form>
{% endblock %}

{% block script %}

{% endblock %}